// Define variables for your color scheme

// For example:
$red: #fd1015;
$blue: #167ffb;
$yellow: #ffc65a;
$orange: #e67e22;
$green: #1edd88;
$gray: #0e0000;
$white: #ffffff;
$light-gray: #f4f4f4;

$light-yellow: #fff9eb;
$dark-yellow: #fee372;

$light-blue: #7db6cc;
$dark-blue: #70a3b7;

$light-red: #ea394e;
$dark-red: #d23346;

$light-green: #77b87d;
$dark-green: #6ba570;
