// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$white: #FFFFFF;
$light-gray: #F4F4F4;

$light-yellow: #FFF7E2;
$dark-yellow: #FEE372;

$light-blue: #7DB6CC;
$dark-blue: #70A3B7;

$light-red: #EA394E;
$dark-red: #D23346;

$light-green: #77B87D;
$dark-green: #6BA570;

