<h1>New Project</h1>
<%= render 'shared/project_form' %>
<%#= simple_form_for(setup_project(@project)) do |project_form| %>
  <%#= project_form.input :title,
                         label_html: { class: "label-title"},
                         input_html: { class: "label-input-text"}%>
  <%#= project_form.association :pattern,
                               collection: current_user.patterns,
                               label_html: { class: "label-title"},
                               input_html: { class: "label-input-text"} %>
  <%#= project_form.simple_fields_for :fabrics do |fabric_form| %>
    <%#= fabric_form.input :title,
                          label: "Fabric ##{fabric_form.index + 1}",
                          placeholder: "Add up to 3 different fabrics.",
                          label_html: { class: "label-title"},
                          input_html: { class: "label-input-text"} %>
  <%# end %>
  <%#= project_form.input :description,
                         label_html: { class: "label-title"},
                         input_html: { class: "label-input-text"} %>
  <%#= project_form.input :size,
                         label_html: { class: "label-title"},
                         input_html: { class: "label-input-text"}%>
  <%#= project_form.input :status,
                         collection: Project::STATUSES,
                         label_html: { class: "label-title"},
                         input_html: { class: "label-input-text"} %>
  <!-- <div class="flex-box-two-btns">
    <%# if request.referrer.nil? || request.referrer.include?("projects") %>
      <%#= link_to "Cancel", projects_path, class:"btn-basic btn-light-blue-ghost" %>
    <%# else %>
      <%#= link_to "Cancel", patterns_path(anchor: params[:pattern_id]), class:"btn-basic btn-light-blue-ghost" %>
    <%# end %>
    <%#= project_form.submit "Save Project", class:"btn-basic btn-light-blue-solid" %>
  </div> -->
<%# end %>
