<div class="pattern-details">
  <% unless @pattern.pattern_url.empty? %>
    <p>
      <%= link_to "Pattern <i class='fas fa-external-link-alt'></i>".html_safe, @pattern.full_pattern_url, target: "_blank" %>
    </p>
  <% end %>

  <% unless @pattern.notes.empty?  %>
    <p><%= @pattern.notes %></p>
  <% end %>

  <div class="flex-box-three-btns">
    <%#= link_to "Close", patterns_path+"##{@pattern.id}", class:"btn-basic btn-light-blue-ghost grey-background" %>
    <%= link_to "Edit", edit_pattern_path(@pattern), class: "btn-basic btn-light-blue-ghost" %>
    <%= link_to "Start Project", new_project_path(pattern_id: @pattern.id), class: "btn-basic btn-light-blue-ghost" %>
  </div>
</div>
