<div class="container">
  <h1>All Patterns</h1>

  <% @patterns.each do |pattern| %>
      <div class="card">
        <%= link_to pattern_path(pattern) do %>
          <h3><%= pattern.title %></h3>
        <% end %>
        <div>
          Fabric Type: <%= pattern.fabric_type %> |
          Garment Category: <%= pattern.garment_category %>
        </div>
      </div>
  <% end %>
</div>
