// Pattern Index:

@media(max-width: 991px) { // Tablet
  .pattern-cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 16px;
  }
}

@media(max-width: 767px) { // Portrait + Landscape Phone
  .pattern-cards {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 16px;
  }
}

@media(min-width: 992px) { // Everything larger than Tablet
  .pattern-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 16px;
  }
}

.pattern-cards {
  padding-top: 1rem;

  a {
    text-decoration: none;
    color: $gray;
  }
}

.pattern-card {
  display: flex;
  justify-content: space-between;
  align-items: center;

  h3 {
    font-family: Maven Pro;
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 0.8rem
  }

  p {
    font-family: Open Sans;
    font-size: 0.8rem;
    margin-bottom: 0.8rem
  }

  .fabric-type-label {
    text-align: center;
    font-family: Open Sans;
    font-size: 0.8rem;
    border-radius: 50rem;
    padding: 0.2rem 0.8rem;
    width: 114px;
    background-color: $dark-blue;
    color: $white;
  }
}

.opened {
  padding-bottom: 1.2rem;
}

.project-card {
  background-color: $light-yellow;
  padding: 1.2rem;
  border-radius: 8px;

  &:hover {
    background-color: $dark-yellow;
  }
}

// Pattern Show Page:

.show-pattern-card {
    pointer-events: none;
    padding: 0rem;
    margin-bottom: 0.8rem;

}

.wrapper-pattern-show-page {
  background-color: $light-gray;
  border-radius: 8px;
  padding: 1.2rem;

  a {
    text-decoration: none;
  }

  p {
    font-size: 0.8rem;
  }

  &:hover {
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  }
}

.no-hover {
  &:hover {
    background-color: $light-yellow;
    cursor: default;
  }
}

// Shopping Item Index

.shopping-item-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 3rem;
}

.buy-item-link {
  height: 100%;
}

.item-bought {
  height: 100%;
  margin-right: 0.8rem;
}

.item-name {
  flex-grow: 2;
}

.item-project-title {
  font-size: 0.8rem;
  font-family: Maven Pro;
}


