.label-input-text {
  border-radius: 8px;
  background-color: $light-yellow;
  border: none;
  font-size: 0.8rem;

  &:focus {
    background-color: $light-yellow;
  }
}

.flex-box-input-and-delete {
  display: flex;

}
