.label-input-text {
  border-radius: 8px;
  background-color: $light-yellow;
  border: none;
  font-size: 0.8rem;

  &:focus {
    background-color: $light-yellow;
  }
}

.flex-box-input-and-delete {
  display: flex;
}

.search-form {
  display: flex;
  align-items: center;
}

.search-bar {
  padding-top: 8px;
  padding-bottom: 8px;
  margin: 4px;
}

.search-button {
  flex: 0 0 auto;
  border: none;
}

.filter-wrapper {
  display: flex;
  margin-top: 0.8rem;
  margin-right: 4px;
  align-items: center;
}

.fabric-types-form {
  display: flex;
  flex-direction: column;
}

.fabric-types-form > label {
  margin: 4px;
  font-size: 0.8rem;
  width: 64px;
}

.fabric-types-wrapper {
  display: inline-block;
  vertical-align: middle;
}

.garment-category-form {
  flex-wrap: nowrap;
  display: flex;
  overflow: scroll;
  align-items: center;
  flex: 1 0 auto;
  justify-content: space-between;
}

.garment-category-wrapper {
  display: inline-block;
  overflow: scroll;
  width: 100%;
  vertical-align: middle;
}

#label-garment-category-all {
  margin: 0;
}

input[type="checkbox"]:checked + label.delete-button {
  border-radius: 50px;
  box-shadow: none;
  background-color: $dark-blue;
  color: white;
}
