.label-input-text {
  border-radius: 8px;
  background-color: $light-yellow;
  border: none;
  font-size: 0.8rem;

  &:focus {
    background-color: $light-yellow;
  }
}

.flex-box-input-and-delete {
  display: flex;

}

.search-form {
  display: flex;
  align-items: center;
}

.search-bar {
  padding-top: 8px;
  padding-bottom: 8px;
  margin: 4px;
}

.search-button {
  border: none;
  flex: 0 0 auto;
}


